.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  align-items: center;
  display: flex;
  padding: 0 1rem;
  background: #0f172a;
  justify-content: space-between;
}

.navbar-search {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}
